* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.397);
  /* background: url('/images/moviebg.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  width: 80%;
  height: 90%;
  position: relative;
  /* border: 3px solid #fff; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow:  0px 10px 25px -5px #000;
}
header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: url("images/moviebg1.jpg")no-repeat;
    object-fit: cover;
    z-index: -1;
}
header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg,transparent,#000);
    z-index: -1;
}
header video{
    position: absolute;
    width:135%;
    align-items: center;
    height: 200%;
    top: -50%;
    z-index: -1;
    
}


/*nav*/
header nav{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
header nav .logo_ul{
    display: flex;
    align-items: center;
    justify-content: center; 
}
header nav .logo_ul img{
    width: 65px;
}
header nav .logo_ul ul{
    display: flex;
    align-items: center;
    justify-content: center; 
    list-style: none;
}
header nav .logo_ul ul li{
    padding: 3px 15px;
}
header nav .logo_ul ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    transition: .3s linear;
}
header nav .logo_ul ul li a:hover{
    color: rgb(255,255,255,.7);
}
/* search */
header nav .search_user{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
    right: 40px;
}
header nav .search_user input{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid rgb(255,255,255,.5);
    outline: none;
    padding: 0 10px 0 45px !important;
    border-radius: 4px;
    border: none;
    outline: none;
    backdrop-filter: blur(18px);
    /* background: rgb(255,255,255,.3); */
    color: #fff;
    margin-right: 20px;
}

header nav .search_user input::placeholder{
    color: #fff;
}

header nav .search_user .bx-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 18px;
    border-right:1px solid #fff ;
    color: #fff;
}
header nav .search_user .prof-icon{
    position: absolute;
    right: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

header nav .search_user .search{
   position: absolute;
   width: 320px;
   height: 270px;
   /* border: 1px solid #fff; */
   right: 0;
   top: 40px;
   z-index: 99999;
   overflow-y: auto;
}

/* scrollbar */
header nav .search_user .search::-webkit-scrollbar{
    width: 5px;
    background: rgb(255,255,255,.3);
    border-radius: 5px;
    visibility: hidden;
 }
 header nav .search_user .search::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255,255,255,.4);
    border-radius: 5px;
    visibility: hidden;
 }

 header nav .search_user .search:hover::-webkit-scrollbar{
    visibility: visible;
 }
 header nav .search_user .search:hover::-webkit-scrollbar-thumb{
    visibility: visible;
 }



header nav .search_user .search .card{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display: none;
 }

 header nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: rgb(255,255,255,.1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header nav .search_user .search .card img{
    width: 27px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
 }

header nav .search_user .search .card .cont{
    margin-left: 10px;
    color: #fff;
 }

header nav .search_user .search .card .cont h3{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
 }
 header nav .search_user .search .card .cont p{
    font-size: 10px;
    color:rgb(255,255,255,.8);
 }
 header nav .search_user .search .card .cont span{
   background: yellow;
   color: #000;
   padding: 0px 3px ;
   margin: 0px 5px 0px 10px;
   font-weight: 500;
 }

 /* content */
 header .content{
    position: relative;
    color: #fff;
    margin-top: 40px;
    padding-left: 50px;
 }
 header .content h1{
    font-size: 50px;
 }
 header .content #title{
    width: 200px;
 }
 header .content p{
    font-size: 11px;
    width: 350px;
    word-break: break-all;
 }
 header .content .details{
    display: flex;
    align-items: center;
    margin-top: 10px;

 }
 header .content .details h6{
    color: rgb(255,255,255,.8);
    font-size: 10px;
    margin-right: 10px;
 }
 header .content .details h5{
    color: rgb(142,238,48);
    font-size: 10px;
    margin-right: 10px;
 }
 header .content .details h4{
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
 }
 header .content .details h3{
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 10px;
 }
 header .content .details h3 span{
    background: yellow;
    color: #000;
    padding: 0px 3px ;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
 }

 header .content .details h3 span i{
    margin-right: 5px;
 }
 header .content .btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    left: 0;
    
 }

 header .content .btns a{
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg,#00bdff ,#0079ff);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
 }
 header .content .btns .bx{
   font-size: 20px;
 }

 /* section */
 header section{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom:10px ;
    color: #fff;
 }

 header section .cards{
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
 }
 header section .cards::-webkit-scrollbar{
    display: none;
 }
 header section .cards .card{
    position: relative;
    min-width: 130px;
    height: 180px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
 }

 header section .cards .card .poster{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position:relative ;
 }
 header section .cards .card:hover{
    overflow: hidden;
    min-width: 300px;
 }
 header section .cards .card .card_body{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 99999;
    opacity: 0;
    transition: 1s linear;
 }

 header section .cards .card .card_body img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
 }

 header section .cards .card .card_body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg,transparent,#000);
    left: 0;
    bottom: 0;
    z-index: 1;
}

header section .cards .card .card_body .cont {
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 10px;
    padding: 0px 20px;
}
header section .cards .card .card_body .cont .sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header section .cards .card .card_body .cont .sub p{
    font-size: 12px;
    font-weight: 400;
    color: rgb(255,255 ,255,.7);
}
header section .cards .card .card_body .cont .sub h3{
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
}

header section .cards .card .card_body .cont .sub h3 span{
    background: yellow;
    color: #000;
    padding: 0px 3px ;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
    border-radius: 2px;
}

header section .cards .card .card_body .cont .sub h3 i{
    margin-right: 3px;
}
header section .cards .card:hover .card_body{
    opacity: 1;
}


/* chevron */
header section .bx-chevron-left ,
.bx-chevron-right{
    position: absolute;
    top: 50%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: rgb(255,255,255,.3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: .3s linear;
    z-index: 999999999;
    opacity: 0;
}
header section  .bx-chevron-right{
    left: unset;
    right: 3%;
}
header section:hover  .bx-chevron-right{
    opacity: 1;
}
header section:hover  .bx-chevron-left{
    opacity: 1;
}



